uvicorn~=0.34.0
fastapi~=0.115.12
mangum~=0.19.0
boto3~=1.37.26
botocore~=1.37.26
pydantic~=2.11.1
setuptools~=78.1.0
numpy~=2.2.4
requests~=2.32.3
tiktoken~=0.9.0
importlib_metadata~=8.6.1
wheel~=0.45.1
kuhl-haus-bedrock-app~=0.2.8
kuhl-haus-metrics~=0.2.6